main h2 {
    text-align: center;
    margin-top: 1%;
}
  
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 10px;
}

th {
    background-color: darkblue;
    color: floralwhite;
    text-align: left;
}

th,
td {
    height: 23px;
    padding-left: 5px;
    font-size: larger;
}

td {
    background-color: azure;
}