main h2 {
    background-color: dodgerblue;
    text-align: center;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 180%;
    animation-name: example;
    animation-duration: 6s;
}

@keyframes example {
    from {background-color: dodgerblue;}
    to {background-color: lightcoral;}
  }

main h3 {
    font-size: 150%;
    padding: 5px 5px;
}

main h4 {
    font-size: 110%;
    padding: 5px 5px;
}

main li {
    padding-left: 10px;
    font-weight: bold;
    font-size: 105%;
}

main li p {
    font-weight: 400;
    padding-left: 15px;
}

main li {
    margin-top: 15px;
    margin-bottom: 20px;
}